header, footer {
    height: 100px;
}

main, section, section2, aside {
  height: 200px;  
}

header {
    background: red;
}

main {
    display: flex;
}
section2 {
    background: black;
    width: 60%;
}

section {
    background: green;
    width: 20%;
}

aside {
    background: blue;
    width: 20%;
}

main2, block1, block2, block3 {
    height: 200px;  
  }
main2 {
    display: flex;
}  

block1 {
    background: grey;
    width: 33%;
}

block2 {
    background: pink;
    width: 33%;
}

block3 {
    background: coral;
    width: 33%;
}

footer {
    background: yellow;
}